/* Format Menu line */
.chosen p {
    color: #ff2a6b;
    font-weight: bold;
}

/* ------------------------------ */

.hero {
    background-image: url(/images/page-top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 55px 0;
}

.hero > h1 {
    display: inline-block;
    justify-content: center;

    border-radius: 4px;
    box-shadow: 1.25px 1.25px 0 0 #ff2a6b, 0 90px 100px rgba(0, 0, 0, 0.3);
    padding: 8px 35px;

    background-color: #ff2a6b;
    color: white;

    font-size: 65px;

    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
        transform: scale(0.2);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: scale(1);
    }
}

.contact__col {
    display: flex;

    margin: 80px 0;
}

form {
    min-width: 65%;
    justify-content: space-between;
}

form > h3 {
    margin-bottom: 55px;

    color: #474747;
    font-size: 25px;
}

form > input {
    height: 50px;
    width: 100%;
    margin: 6px 0 15px 0;
    padding: 25px;

    background-color: #e2ebf5;
    border: none;
    font-style: italic;
    font-family: "Poppins", sans-serif;
}

form textarea {
    height: 250px;
    width: 100%;
    margin: 6px 25px 40px 0;
    padding: 25px;

    background-color: #e2ebf5;
    border: none;
    font-style: italic;
    font-family: "Poppins", sans-serif;
}

form > button[type="submit"] {
    padding: 17px 50px;

    text-decoration: none;
    border: 0px none #ff2a6b;
    background-color: #ff2a6b;
    color: white;

    cursor: pointer;
}

[type="submit"]:hover {
    /* border-radius: 20px; */
    box-shadow: 0 0 25px 10px tomato;
    /* transition-duration: 0.5s; */
}

.contact__name {
    display: flex;
    flex-flow: row nowrap;

    /* margin-right: -20px; */
    width: 100%;

    justify-content: space-between;
}

p.cnt {
    color: #474747;
    font-size: 12px;
    font-style: italic;

    margin-top: -5px;
    margin-bottom: -30px;
}

.contact__name input {
    height: 50px;

    margin: 6px 0 15px 0;
    padding: 25px 180px 25px 25px;

    background-color: #e2ebf5;
    border: none;
    font-style: italic;
}

input.full {
    display: none;
    margin: 0;
    height: 0;
}

.contact__info {
    max-width: 35%;
    margin-left: 10px;
}

.container__small {
    margin-left: 95px;
}

.contact__detail li {
    margin: 25px 0;
    line-height: 2;
}

.contact__detail p.title {
    color: #ff2a6b;
    text-decoration: underline;
}

ul.contact__social {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

    color: #474747;
}

ul.contact__social a {
    color: #474747;
}

/* _____________________ */

/*-------- RESPONSIVE ON TABLET AND MOBILE --------*/

/* LARGE */
@media only screen and (max-width: 992px) {
    .contact__col {
        display: flex;
        flex-flow: column wrap;
    }

    form {
        max-width: 100%;
    }

    .contact__info {
        margin-top: 50px;
        min-width: 100%;
    }

    .container__small {
        margin-left: 0;
    }

    .contact__detail {
        display: flex;
    }

    .contact__detail li {
        margin-right: 40px;
    }

    ul.contact__social {
        justify-content: start;
    }

    ul.contact__social li {
        padding-right: 20px;
    }
}

/* MEDIUM */
@media only screen and (max-width: 768px) {
    .contact__name input,
    .contact__name p {
        display: none;
    }

    input.full {
        display: flex;
        flex-flow: column wrap;
    }
}

/* SMALL */
@media only screen and (max-width: 576px) {
    .hero > h1 {
        font-size: 40px;
    }

    .contact__detail {
        display: flex;
        flex-flow: column nowrap;
    }
}
