section.footer {
    background-image: url(/images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 70px;
}

.footer__row {
    display: flex;
    justify-content: space-around;
    margin: 0 -30px;
}

.footer__col1 {
    width: 50%;
    text-decoration: none;
    font-size: 15px;
    color: grey;
}

.footer__col1 img {
    opacity: 1;
}

.footer__col1 img:hover {
    opacity: 0.7;
}

.footer__col2 {
    width: 50%;
    text-decoration: none;
    font-size: 15px;
    color: grey;

    padding: 0 0 0 auto;
}

.footer__col2 > p > a {
    color: grey;
    text-decoration: none;
}

ul.footer__social {
    display: flex;
    margin-right: 0;
    padding-top: 15px;
}

ul.footer__social > li {
    text-align: left;
}

ul.footer__social > li > a {
    color: grey;
    margin-right: 25px;
    size: 0rem;
}

ul.footer__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    text-decoration: none;

    padding-top: 17px;
    margin-bottom: 20px;
}

ul.footer__menu > li {
    text-align: right;
    padding-left: 30px;
}

ul.footer__menu > li > a {
    color: #444444;
    text-decoration: none;
}

ul.footer__menu > li > a:hover {
    color: #ff2a6b;
}

.copyright {
    text-align: right;
}

p.copyright a {
    color: #007bff;
}

/* GO TO TOP BUTTON */

.go-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;

    font-size: 30px;

    color: #ff2a6b;

    animation-name: scroll;
    animation-duration: 1.5s;
}

@keyframes scroll {
    from {
        opacity: 0;
        display: none;
    }

    30% {
        opacity: 0.2;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.8;
    }

    to {
        opacity: 1;
    }
}

/* ______________________________ */

/*-------- RESPONSIVE ON TABLET AND MOBILE --------*/

/* LARGE */
@media only screen and (max-width: 992px) {
}

/* MEDIUM */
@media only screen and (max-width: 768px) {
    .footer__row {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 0;
    }

    .footer__col1,
    .footer__col2 {
        width: 100%;
        text-align: left;
    }

    ul.footer__social,
    ul.footer__menu {
        display: flex;
        flex-flow: row nowrap;
        justify-content: left;
        text-align: left;

        padding-top: 20px;
    }

    ul.footer__menu {
        margin-left: -25px;
    }

    ul.footer__menu li {
        padding: 0;
        margin-left: 25px;
    }

    .copyright {
        text-align: left;
        flex-wrap: nowrap;
    }
}

/* SMALL */
@media only screen and (max-width: 576px) {
    .footer__col1,
    .footer__col2 {
        text-align: center;
    }

    ul.footer__social,
    ul.footer__menu {
        justify-content: center;
        text-align: center;
    }

    .copyright {
        text-align: center;
    }
}
