/* TOP-BAR PINK */
.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    background-color: #ff2a6b;
    padding: 15px 0;
}

.top-bar__pink {
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.top-bar__social {
    display: flex;
}

ul.top-bar__list {
    display: flex;
    text-decoration: none;
}

ul.top-bar__list > li > i {
    color: white;
    size: 5px;
    cursor: pointer;
}

ul.top-bar__list > li > i:hover {
    color: rgb(245, 238, 173);
}

ul.top-bar__list > li {
    padding-right: 35px;
}

.top-bar__member a {
    text-decoration: none;
    color: white;

    transition: 1s;
}

.top-bar__member a:hover {
    text-transform: uppercase;
}

/*------------ RESPONSIVE ON MOBILE FOR SOCIAL LIST ON PINK TOP-BAR */
@media only screen and (max-width: 576px) {
    ul.top-bar__list {
        display: none;
        visibility: hidden;
    }

    .top-bar__pink {
        text-align: center;
        display: block;
        justify-content: none;
    }
}
/*----------------------- END RESPONSIVE ---------------------------*/

/* ________________________ */

/* NAV */
.header {
    padding: 25px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    opacity: 1;
}

.header__logo:hover {
    opacity: 0.7;
}

.header__menu {
    width: 100%;
}

/*------------ RESPONSIVE ON MOBILE AND TABLET FOR PINK TOP-BAR */
@media only screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
}
/*---------------------- END RESPONSIVE -------------------------*/

ul.menu {
    display: flex;
    padding: 15px;
    justify-content: center;
}

ul.menu > li > a {
    display: flex;
    text-decoration: none;
    padding-left: 55px;
    color: black;

    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
    -moz-box-reflect: below 1px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

a :hover {
    color: #ff2a6b;
}

.header__searchbutton {
    display: flex;
}

.header__searchbutton > button {
    text-decoration: none;
    border: none;
    background-color: white;
    height: 0px;
    cursor: pointer;

    margin-right: 15px;
}

.header__searchbutton > button > i {
    background-color: #ff2a6b;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 1.5px 1.5px 0 0 #ff2a6b;

    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
    -moz-box-reflect: below 5px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

/* ________________________ */

/* HAMBURGER MENU */

.hamburger {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 9px;
    width: 32px;
    height: 32px;

    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
    -moz-box-reflect: below 5px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

.hamburger:hover {
    background-color: lightgrey;
    box-shadow: 0 0 5px #ff2a6b, 0 0 25px #ff2a6b, 0 0 50px #ff2a6b, 0 0 100px #ff2a6b;
}

/*------------ RESPONSIVE ON MOBILE AND TABLET FOR HAMBURGER MENU */
@media only screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}
/*---------------------- END RESPONSIVE -------------------------*/

.menu-btn__burger {
    width: 18px;
    height: 2.5px;

    background-color: #ff2a6b;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";

    position: absolute;

    width: 18px;
    height: 2.5px;

    background-color: #ff2a6b;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-6px);
}

.menu-btn__burger::after {
    transform: translateY(6px);
}

.hamburger.open .menu-btn__burger {
    transform: translateX(-17px);
    background: transparent;
}

.hamburger.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(12px, -12px);
}

.hamburger.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(12px, 12px);
}

[id="menuLink"] {
    display: none;
    margin: 0;
}

ul.menu__burger {
    margin: 0;
    padding-top: 15px;
    justify-content: center;

    transition: all 0.25s ease-in-out;
    animation-name: dropDown;
    animation-duration: 0.75s;
}

@keyframes dropDown {
    from {
        opacity: 0;
        scale: 0;
    }

    40% {
        opacity: 0.5;
        scale: 1;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

ul.menu__burger a {
    display: block;
    text-decoration: none;
    color: black;
}

ul.menu__burger p {
    padding: 15px;
    padding-left: 30px;

    border-top: 0.01px solid silver;
    text-decoration: none;
}

a :hover {
    color: #ff2a6b;
}
