.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;

    background-color: #ff2a6b;
    padding: 15px 0;
}

.top-bar__pink {
    display: flex;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.top-bar__social {
    display: flex;
}

ul.top-bar__list {
    display: flex;
    text-decoration: none;
}

ul.top-bar__list > li > i {
    color: white;
    size: 5px;
    cursor: pointer;
}

ul.top-bar__list > li > i:hover {
    color: rgb(245, 238, 173);
}

ul.top-bar__list > li {
    padding-right: 35px;
}

.top-bar__member a {
    text-decoration: none;
    color: white;

    transition: 1s;
}

.top-bar__member a:hover {
    text-transform: uppercase;
}

/* ______________________________ */

.header {
    padding: 25px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    opacity: 1;
}

.header__logo:hover {
    opacity: 0.7;
}

ul.menu {
    display: flex;
    padding: 15px;
}

ul.menu > li > a {
    display: flex;
    text-decoration: none;
    padding-left: 55px;
    color: black;

    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
    -moz-box-reflect: below 1px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

a :hover {
    color: #ff2a6b;
}

.header__searchbutton > button {
    text-decoration: none;
    border: none;
    background-color: white;
    height: 0px;
    cursor: pointer;
}

.header__searchbutton > button > i {
    background-color: #ff2a6b;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 1.5px 1.5px 0 0 #ff2a6b;

    -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

.hamburger > button {
    padding: 8px 10px;
    margin-top: 7px;

    border-style: none;
    border-radius: 4px;

    cursor: pointer;

    /* overflow: hidden; */
    -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(199, 60, 101, 0.333));
}

.hamburger > button:hover {
    background-color: lightgrey;
    box-shadow: 0 0 5px #ff2a6b, 0 0 25px #ff2a6b, 0 0 50px #ff2a6b, 0 0 100px #ff2a6b;
}

.hamburger > button::after {
    content: "";
}
