h4 {
    color: #474747;
    font-size: 16px;
}

h5 {
    color: #ff2a6b;
    font-size: 12px;
}

.star {
    display: flex;
    flex-flow: row nowrap;

    margin: 10px 0;
}

.star > li {
    font-size: 12px;
    color: rgb(247, 203, 84);
}

.star__fade > i {
    font-size: 12px;
    color: darkgrey;
}

/* SECTION PREVIEW */

.preview__group {
    display: flex;
    flex-flow: row nowrap;

    max-width: 100%;

    justify-content: space-between;
}

.preview__group li {
    display: flex;
}

.top-rate {
    max-width: 33.333333%;
}

.most-like {
    max-width: 33.333333%;
}

.maria {
    max-width: 33.333333%;
}

/* SECTION YELLOW */

section.yellow {
    padding: 36px 0;
    background-color: #fdc855;
}

.yellow__group {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
}

.yellow__left {
    position: relative;
    z-index: 1;

    margin: 50px auto;
    padding: 20px 150px 20px 200px;

    background: url(/images/thumb/11.jpg) no-repeat left;
    background-size: 33%;
    background-color: white;
}

.yellow__right {
    position: relative;
    z-index: 1;

    margin: 50px auto;
    padding: 20px 150px 20px 200px;

    background: url(/images/thumb/12.jpg) no-repeat left;
    background-size: 33%;
    background-color: white;
}

.yellow__left::before,
.yellow__right::before {
    position: absolute;
    top: 0;
    left: 0;

    content: "March 08, 2020";
    padding: 10px 15px;

    background-color: #ff2a6b;
    color: white;

    font-size: 12px;
    font-style: italic;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    margin-right: 10px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author p {
    color: #474747;
}
