* {
    /* universal selector*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    scroll-behavior: smooth;
}

body {
    /* các thuộc tính này có tính kế thừa nên không bỏ vào Universal */
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: unset;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
}

/*-------- responsive --------*/

/* LARGE */
@media only screen and (max-width: 992px) {
    .container {
        max-width: 992px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* MEDIUM */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* SMALL */
@media only screen and (max-width: 576px) {
    .container {
        max-width: 576px;
        padding-left: 40px;
        padding-right: 40px;
    }
}
