/* Format Menu line */
.chosen p {
    color: #ff2a6b;
    font-weight: bold;
}

/* ------------------------------ */

.hero {
    background-image: url(/images/page-top-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 55px 0;
}

.hero > h1 {
    display: inline-block;
    justify-content: center;

    border-radius: 4px;
    box-shadow: 1.25px 1.25px 0 0 #ff2a6b, 0 90px 100px rgba(0, 0, 0, 0.3);
    padding: 8px 35px;

    background-color: #ff2a6b;
    color: white;

    font-size: 65px;

    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    from {
        transform: scale(0.2);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    to {
        transform: scale(1);
    }
}

/* SECTION DETAIL LIST */

.detail-list__name {
    position: relative;

    padding-top: 10px;
    margin: 90px 0 40px 0;

    font-size: 35px;
    color: #474747;
}

.detail-list__name::before {
    position: absolute;
    top: -7px;
    left: 0;

    width: 60px;
    height: 5px;

    content: "";

    background-color: #ff2a6b;
}

.detail-list__name::after {
    position: absolute;
    top: -7px;
    left: 30px;

    width: 45px;
    height: 5px;

    content: "";

    background-color: #ff2a6b;

    transform: skewX(-45deg);
}

ul.detail-list__food {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

li.detail-list__option {
    margin: 0 -15px 10px -15px;

    width: 33.333333%;
}

.detail-list__meal {
    position: relative;
}

.detail-list__meal > img {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 10px;
}

li.detail-list__option {
    max-width: 33.333333%;
}

.ranking__background {
    position: absolute;
    bottom: 15px;
    left: 0;

    vertical-align: middle;
}

.ranking {
    position: relative;

    display: inline-block;
    padding: 10px 35px 10px 20px;
    margin: 0 15px;

    width: 250px;

    background-color: #ff2a6b;
}

.ranking::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;

    width: 25px;
    height: 66px;

    content: "";

    background-color: #ff2a6b;

    transform: skewX(-15deg);
}

.ranking > p {
    color: white;
    font-style: initial;
}

.ranking i {
    font-size: 12px;
    color: khaki;
}

.star {
    display: flex;
    flex-flow: row nowrap;
}

/* .star > li {
} */

.star__fade > i {
    font-size: 12px;
    color: whitesmoke;
}

.page {
    display: flex;
    justify-content: center;

    margin: 60px auto;
}

.page p {
    margin: 0 7px;
    padding: 15px;

    background-color: #cccccc;
    color: white;

    font-size: 17px;

    cursor: pointer;
}

.page p.pick {
    margin: 0 7px;
    padding: 15px;

    background-color: #ff2a6b;
    color: white;

    font-size: 17px;

    cursor: text;
}
